.container {
  display: grid;
  grid-template-rows: 20% auto 50px;
  grid-template-columns: 1;
  height: 100%;

}

.header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
}

.content {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
}

.search-bar {
  font-size: 24px;
  width: 400px;
  height: 50px;
  text-align: center;
}

.contributing-guide {
  margin-top: 10px;
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
}
