.result {
  margin: 10px auto 10px auto;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  width: 80%;
  max-width: 350px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result:hover {
  background-color: rgb(255, 99, 71);
  color: white;
  cursor: pointer;
}

.result-inner-text {
  position: relative;
  top: 50%;
}
